/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Navigation Bar */
nav {
    background-color: #000000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: rgb(255, 200, 0);
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #444;
}

/* Blog Section */
.blog-section {
    padding: 3rem 0;
    text-align: center;
    background: #f4f4f4;
}

.blog-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.blog-section p {
    max-width: 600px;
    margin: 0 auto 1.5rem;
}

/* Footer */
footer {
    background-color: #222;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0, 0;
    position: relative;
    width:100%;
    bottom: 0px;
}

footer section {
    background-color: #222;
    margin: 0;
    padding: 5px;
    font-size: 1em;
}
