/*Custom Font*/
@font-face {
    font-family: 'Meditative';
    src: url('C:\Users\Pavel\Documents\Fonts\meditative') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body {
    font-family: Meditative, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #222;
    color: white;
}

/* Header */
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin-top: 0%;
    margin-bottom: 0%;
}

/* Navigation Bar */
nav {
    background-color: #000000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: rgb(255, 200, 0);
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #444;
}

/* Main Content */
main {
    padding: 40px;
}

main section {
    margin: 20px 0;
    padding: 20px;
    background: #222; 
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main section h2 {
    color: white
    
}

main section p {
    font-size: 1.1em;
    color: white;
    
}

/* Footer */
footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0, 0;
    position: relative;
    width:100%;
    bottom: 0px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer #contact h2 {
    font-size: 1.5rem;
}

footer .social.icons {
    margin: 20px 0;
}

footer .social.icons a {
    margin: 0 10px;
    display: inline-block;
}

footer .social.icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0) invert(1);
}

footer .social.icons img:hover {
    transform: scale(1.2);
    filter: brightness(0) invert(0.5);
}

footer #copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
}