
/*Custom Font*/
@font-face {
    font-family: 'Meditative';
    src: url('C:\Users\Pavel\Documents\Fonts\meditative') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* General Reset */
* {
    font-family: Meditative, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    box-sizing: border-box;
}

/* Header */
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin-top: 0%;
    margin-bottom: 0%;
}
/* Navigation Bar */
nav {
    background-color: #000000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: rgb(255, 200, 0);
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #444;
}
.construction-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 240px); /* Adjust height based on header and footer */
    text-align: center;
    padding: 20px;
    background-color: #222;
}

.construction-section h2 {
    font-size: 2.5rem;
    color:#fff;
    margin-bottom: 10px;
}

.construction-section p {
    font-size: 1.2rem;
    color: #fff;
    max-width: 600px;
    margin: 10px 0;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer #contact h2 {
    font-size: 1.5rem;
}

footer .social.icons {
    margin: 20px 0;
}

footer .social.icons a {
    margin: 0 10px;
    display: inline-block;
}

footer .social.icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0) invert(1);
}

footer .social.icons img:hover {
    transform: scale(1.2);
    filter: brightness(0) invert(0.5);
}

footer #copyright {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
}